/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .nav-tabs li {
        padding: 0% 6%;
        padding-top: 15px;
    }

    .othertableinfo1 p {
        margin-left: 24%;
    }

    .emergency1 .btn {
        margin-left: 24%;
    }

    .emergency .btn {
        margin-left: 33%;
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-tabs li {
        padding: 0% 4%;
        padding-top: 15px;
    }

    .othertableinfo1 p {
        margin-left: 24%;
    }

    .filebtnf button {
        text-align: center;
        margin-left: 14% !important;
    }
.emergency1 .btn {
        margin-left:13%;
    }
    .other button {
        text-align: center;
        margin-left: 14% !important;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .filebtnf p {
        float: none;
        padding-top: 25% !important;
        font-size: 12px;
    }

    .other p {
        float: none;
        padding-top: 35% !important;
        font-size: 12px;
    }

    .Basicinfo p {
        color: #6C7B8A;
        margin-bottom: 0;
        font-size: 12px;
        padding: 4px 0;
        padding-left: 3px;
        margin-left: 13px;
        margin-right: 19px;
    }

    .doctorcard a {
        font-size: 11px;
    }

    .emergency .btn,
    .emergency1 .btn {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .emergency .text,
    .emergency1 .text {
        margin-left: 24%;
    }

    .textarea {
        columns: 59 !important;
    }

    .form-inline .form-control {
        width: 60%;
    }

    .mainfile .dropdown {
        margin-top: 8%;
    }

    .password {
        width: 55%;
    }

    .nav-link {
        padding: 9px !important;
    }

    .admin img {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .admintext {
        margin-top: -8%;
        margin-left: 5%;
        text-align: center;
        margin-bottom: 60px;
    }

    .nav-link {
        text-align: center;
    }

    .navbar-toggler:focus {
        outline: 0;
    }

    .admin::before {
        left: 52%;
        z-index: 999;
    }

    .reload {
        margin-left: 0px;
    }

    .nav-tabs li {
        padding: 2% 1%;
        font-size: 17px;
    }

    .filebtnf button {
        text-align: center;
        margin-left: 14% !important;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    .table td,
    .table th {
        font-size: 12px;
    }

    .nav-pills li a {
        color: #000;
        padding: 10px 0;
        font-size: 13px;
    }

    .number a {
        margin: 0px;
    }

    .number a:nth-child(2) {
        margin-left: 14px;
    }

    .reload p {
        margin-left: 3px;
        font-size: 13px;
        padding-top: 4px;
    }

    .emergency1 .btn {
        margin-left: 14%;
    }

    .password {
        width: 66%;
    }

    .nav-link {
        padding: 9px !important;
    }

    .admin img {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .admintext {
        margin-top: -9%;
        margin-left: 5%;
        text-align: center;
        margin-bottom: 60px;
    }

    .nav-link {
        text-align: center;
    }

    .navbar-toggler:focus {
        outline: 0;
    }

    .admin::before {
        left: 52%;
        z-index: 999;
    }

    .itempad {
        margin-left: 5px;
        font-size: 12px;
    }

    .reload {
        margin-left: 22px;
        font-size: 14px;
    }

    .form-inline .form-control {
        width: 60%;
    }

    .mainfile .dropdown {
        margin-top: 8%;
    }

    .nav-tabs li {
        padding: 2% 1%;
        font-size: 13px;
    }

    button.btn.btn-outline-info.bg-info.my-2.my-sm-0.text-white {
        font-size: 12px;
    }
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
.nav-tabs, .tab-content {
	background: #Fff;
	overflow-x: auto;
}
    .table td,
    .table th {
        font-size: 12px;
    }

    .number a {
        margin: 1px;
    }

    .number {
        margin-left: 50% !important;
        transform: translateX(-50%) !important;
    }

    .number a:nth-child(2) {
        margin-left: 6px;
    }

    .emergency .btn {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .emergency1 .btn {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .itempad {
        text-align: center !important;
    }

    .reload {
        text-align: center !important;
        transform: translateX(-50%);
        margin-left: 58%;
    }

    .upperdoc form Select {
        width: 100%;
    }

    .password {
        width: 100%;
    }

    .underdoctorsection {
        text-align: center;
    }

    .navbar-nav .nav-item .nav-link {
        padding: 9px !important;
    }

    .admin img {
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .admintext {
        margin-top: -16%;
        margin-left: 11%;
        text-align: center;
    }

    .nav-link {
        text-align: center;
    }

    .navbar-toggler:focus {
        outline: 0;
    }

    .admin::before {
        left: 55%;
        z-index: 999;
    }

    .itempad {
        margin-left: 0px;
    }

    .form-inline .form-control {
        width: 77%;
        margin-top: 3px;
        margin-left: 30%;
        transform: translateX(-50px);
        text-align: center;
    }

    button.btn.btn-outline-info.bg-info.my-2.my-sm-0.text-white {
        margin-left: 50%;
        transform: translateX(-50px);
    }

    .emergency .text {
        float: none;
        margin-left: 0;
        color: #fff;
        font-weight: 600;
    }

    .emergency1 .text {
        float: none;
        margin-left: 0;
        color: #fff;
        font-weight: 600;
    }

    #menu11 button,
    #menu22 button,
    #menu23 button,
    #home1 button {
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 13px 30px;
        margin-top: 20px;
        font-size: 10px;
        margin-bottom: 5px;

    }

    .left {
        margin-left: 5%;
    }

    .nav-pills li a {
        padding: 10px 0;
    }

    .emergency .btn,
    .emergency1 .btn {
        font-size: 11px;
    }


    .filebtnf p {
        float: none;
        text-align: center;
    }

    .filebtnf a {
        padding: 6px 9px !important;
        margin-right: 5px;
    }

    .other p {
        float: none;
        padding-top: 0%;
        font-size: 12px;
    }

    .btn.btn-outline-dark.bg-dark.text-white-50.my-2.my-sm-0 {
        margin: 0 auto;
    }

    .nav-tabs li {
        margin: 0 auto;
        /* border-bottom: 1px solid #000; */
    }

    .filebtnf p {
        float: none;
        text-align: left;
        font-size: 13px;
        padding-top: 4%;
        padding-left: 0;
    }

    .alllappoinments {
        overflow-x: scroll;
    }

    .upperpatiant .dropdown-menu.show {
        left: 23% !important;
        top: 0% !important;
    }

    .availtable button {
        margin-left: 0%;
        margin: 0px;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .upperdoc h5 {
        margin-top: 20px;
        padding-left: 20px;
    }
.apoinmentta {
	overflow-x: ;
}
}
